Requirements

To run this project, you will need to install the following dependencies using pip:

scapy: A powerful packet manipulation library for capturing, crafting, and sending network packets. Install it by running the following command:

    pip install scapy

networkx: A Python package for the creation, manipulation, and study of the structure, dynamics, and functions of complex networks. Install it by running the following command:

    pip install networkx

matplotlib: A plotting library for creating static, animated, and interactive visualizations in Python. Install it by running the following command:

    pip install matplotlib

Make sure you have Python 3.10 or later installed on your system. You can check your Python version by running the following command:

    python --version
